include Makefile
include src/*.c
include src/*.h
include src/*.cu
include addernet/src/*.c
include addernet/src/*.h
include python/*.py
include README.md
include README_DEV.md
include LICENSE
include pyproject.toml
